<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css}">
    <title>Home page</title>
</head>
<body>
<div class="container">
    <h1 style="text-align:center">Welcome to home page!</h1>
    <div id="logoutDiv">
        <form  th:action="@{/logout}" action="#" method="POST">
            <button id="logout" type="submit" class="btn btn-danger pull-right">Logout</button><br>
        </form>
    </div>
    <br>
    <nav style="text-align:center; font-size: 20px">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a id="files-link" th:href="@{/files}">Files</a> |
            <a id="notes-link" th:href="@{/notes}">Notes</a> |
            <a id="credentials-link" th:href="@{/credentials}">Credentials</a>
        </div>
    </nav>
</div>
<div id="react_container"></div>
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/babel" src="home.js"></script>
</body>
</html>