<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <link rel="stylesheet" type="text/css" media="all"-->
<!--          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>-->
<!--    <title>Login</title>-->
<!--</head>-->
<!--<body>-->
<!--<div style="text-align: center">-->
<!--    <h1>Login</h1>-->
<!--    <div id="logout-msg" th:if="${param.logout}" class="alert alert-dark">-->
<!--        You have been logged out-->
<!--    </div>-->
<!--    <form  th:action="@{/login}" th:object="${user}" method="post">-->
<!--        <div id="success-msg" th:if="${signUpSuccess}" class="alert alert-success">-->
<!--            You successfully signed up!-->
<!--        </div>-->
<!--        <div id="error-msg" th:if="${param.error}" class="alert alert-danger">-->
<!--            Invalid username or password-->
<!--        </div>-->
<!--        username: <input th:field="*{username}" required="required" type="text" name="username" id="username"/></br>-->
<!--        </br>-->
<!--        password: <input th:field="*{password}" required="required" type="password" name="password" id="password"/></br>-->
<!--        </br>-->
<!--        <button id="login" type="submit" class="btn btn-info ">Login</button>-->
<!--    </form>-->
<!--    </br>-->
<!--    <label> <a id="signup-link" th:href="@{signup}">Click here to sign up</a> </label>-->
<!--</div>-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<!--</body>-->
<!--</html>-->