<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" type="text/css" media="all" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css}">-->
<!--    <title>Sign Up</title>-->
<!--</head>-->
<!--<body>-->
<!--<div style="text-align: center">-->
<!--    <h1>Sign Up</h1>-->
<!--    <form  th:object="${user}" th:action="@{/signup}" action="#" method="POST">-->
<!--        <div id="error-msg" th:if="${signUpError}" class="alert alert-danger">-->
<!--            <span th:text="${signUpError}">Example SignUp Error Message</span>-->
<!--        </div>-->
<!--        First Name: <input th:field="*{firstName}" type="text" name="firstName" id="firstName">-->
<!--        <br>-->
<!--        <br>-->
<!--        Last Name:  <input th:field="*{lastName}" type="text" name="lastName" id="lastName">-->
<!--        <br>-->
<!--        <br>-->
<!--        Username:   <input th:field="*{username}" type="text" name="username" id="username">-->
<!--        <br>-->
<!--        <br>-->
<!--        Password:   <input th:field="*{password}" type="password" name="password" id="password">-->
<!--        <br>-->
<!--        <br>-->
<!--        <button type="submit" name="signup" class="btn btn-success">SignUp</button>-->
<!--    </form>-->
<!--    <br>-->
<!--    <label> <a id="login-link" th:href="@{/login}">Back to login</a> </label>-->
<!--</div>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<!--</body>-->
<!--</html>-->